.tab-container {
  display: flex;
  justify-content: space-evenly;
}
.tab {
  padding: 0.6rem 1.5rem;
  font-weight: 500;
  cursor: pointer;
  /* text-align: center; */
}
.tab-body {
  width: 100%;
}
.tab.active {
  border-bottom: 3px solid #323130;
}
.tab:hover {
  background: #eee;
}
.tab-content {
  margin-top: 5vh;
  text-align: center;
}
